/* black: #2d2c33
white: #FBFBFB
grey: #837770
orange: #CF7E38
red: #D03323 */
.display__text {
    font-size: 64px; 
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    color: #FBFBFB; 
    text-align: end;
}

.btn__text {
    font-size: 26px; 
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
    color: #2D2C33; 
}

body {
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.case {
    height: 500px;
    width: 320px;
    background: #2D2C33;
    border-radius: 25px;
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.2);
}

.display {
    height: 80px;
    margin-top: 40px;
    padding: 0 25px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.buttons {
    height: 340px;
    width: 270px;
    margin: 20px auto 20px;

    display: grid;
    grid-template-areas:
        "btn_light btn_light btn_light btn-orange"
        "btn_grey btn_grey btn_grey btn_orange"
        "btn_grey btn_grey btn_grey btn_orange"
        "btn_grey btn_grey btn_grey btn_orange";
    gap: 10px;
}

.btn {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_light {
    background: #DCD0C9;
}

.btn_grey {
    background: #837770;
}

.btn_orange {
    background: #CF7E38;
}

.btn_null {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 130px;
    border-radius: 100px;
}